<!doctype html>
<head>
    <title>Flaskr</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
<div class=page>
  <h1>Flaskr</h1>
  <script>
    d3.select("body").append("p").text("Hello!");
  </script>
<!-- {% for result in result %}
  <li>{{ result.TravelDate, result.Passengers }}</li>
  {#{% for airpassenger in airpassenger %}
  <li>{{ airpassenger.TravelDate, airpassenger.Passengers }}</li> -->
  <!-- <li>{{ airpassenger.Passengers}}</li>#} -->
<!-- {% else %}
  <li>no data</li>
{% endfor %} -->
</div>
</body>
